:root {
    /*
    --dark-background-color: #46a587;
    --background-color: #2f6e5a;
    --text-color: #3B2C35;
    --alt-text-color: #2A1f2D;
    --medium-color: #5B6C5D;
    */
    --dark-background-color: #282828;
    --background-color: #0C0032;
    --text-color: whitesmoke;
    --block-background-color: #35003D;
    --alt-text-color: grey;
    --medium-color: #5B6C5D;
    --pop-color: #3500D3;
    --red-color: #950740;
    --dark-block-background-color: #190061;
}

#background-canvas {
    position: fixed !important;
    z-index: -10;
    height: 100vh;
    width: 100vw;
}

.line-up {
    position: fixed !important;
    transform: rotate(90deg);
    left: -25vw !important;
    padding-left: 50vh !important;
    padding-right: 100vh !important;
}

.vanta-canvas {
    position: absolute;
}

body {
    max-width: 100vw;
    position: relative;
    z-index: -10;
    padding-bottom: 50px;
}

.center-text {
    margin-left: 33.33%;
}

.social {
    position: relative;
    z-index: -1;
}

.social .container {
    background-color: #190061;
    position: relative;
    z-index: -1;
    padding-bottom: 50px;
    padding-right: 20px;
}

.intro {
    background-color: var(--pop-color);
    position: relative;
    height: fit-content !important;
    padding-bottom: 20px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
}

.intro:before, .intro:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0px;
    background-image: url("../images/plus.png"), url("../images/plus.png");
    background-size: 50px 40px;
    opacity: 100%;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
}

.intro:before {
    top: -10%;
    left: -30px;
    padding-bottom: 50px;
}

.intro:after {
    top: -10%;
    right: -30px;
    padding-bottom: 50px;
    right: -30px;
    z-index: 1;
}

.intro .container {
    position: relative;
    top: 20px;
    left: 20px;
    padding-right: 50px;
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade {
    10% {
        transform: scale(1, 1)
    }
    35% {
        transform: scale(1, 1.7)
    }
    40% {
        transform: scale(1, 1.7)
    }
    50% {
        opacity: 1
    }
    60% {
        transform: scale(1, 1)
    }
    100% {
        transform: scale(1, 1);
        opacity: 0
    }
}

[data-language] code, [class^="lang"] code, pre [data-language], pre [class^="lang"] {
    opacity: 0;
    animation: fade-in 50ms ease-in-out 2s forwards
}

[data-language] code.rainbow, [class^="lang"] code.rainbow, pre [data-language].rainbow, pre [class^="lang"].rainbow {
    animation: none;
    transition: opacity 50ms ease-in-out
}

[data-language] code.loading, [class^="lang"] code.loading, pre [data-language].loading, pre [class^="lang"].loading {
    animation: none
}

[data-language] code.rainbow-show, [class^="lang"] code.rainbow-show, pre [data-language].rainbow-show, pre [class^="lang"].rainbow-show {
    opacity: 1
}

pre {
    position: relative
}

pre.loading .preloader div {
    animation-play-state: running
}

pre.loading .preloader div:nth-of-type(1) {
    background: #0081f5;
    animation: fade 1.5s 300ms linear infinite
}

pre.loading .preloader div:nth-of-type(2) {
    background: #5000f5;
    animation: fade 1.5s 438ms linear infinite
}

pre.loading .preloader div:nth-of-type(3) {
    background: #9000f5;
    animation: fade 1.5s 577ms linear infinite
}

pre.loading .preloader div:nth-of-type(4) {
    background: #f50419;
    animation: fade 1.5s 715ms linear infinite
}

pre.loading .preloader div:nth-of-type(5) {
    background: #f57900;
    animation: fade 1.5s 853ms linear infinite
}

pre.loading .preloader div:nth-of-type(6) {
    background: #f5e600;
    animation: fade 1.5s 992ms linear infinite
}

pre.loading .preloader div:nth-of-type(7) {
    background: #00f50c;
    animation: fade 1.5s 1130ms linear infinite
}

pre .preloader {
    position: absolute;
    top: 12px;
    left: 10px
}

pre .preloader div {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
    opacity: 0;
    animation-play-state: paused;
    animation-fill-mode: forwards
}

pre {
    background-color: #000;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px
}

pre, code {
    font-family: 'Monaco', 'Menlo', courier, monospace
}

pre {
    background: #22282A;
    color: #F1F2F3
}

pre .comment {
    color: #66747B
}

pre .constant {
    color: #EC7600
}

pre .storage {
    color: #EC7600
}

pre .string, pre .comment.docstring {
    color: #EC7600
}

pre .string.regexp, pre .support.tag.script, pre .support.tag.style {
    color: #fff
}

pre .keyword, pre .selector {
    color: #93C763
}

pre .inherited-class {
    font-style: italic
}

pre .entity {
    color: #93C763
}

pre .integer {
    color: #FFCD22
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #CCC
}

pre .preprocessor {
    color: #66747B
}

pre .support, *[data-language="csharp"] .function.call {
    color: #FACD22
}

#introduction .fas {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 13px;
    font-size: 30px;
    max-width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
}

.fas:hover {
    opacity: 0.7;
}

#introduction .fab {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 13px;
    font-size: 30px;
    max-width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
}

.fab:hover {
    opacity: 0.7;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    padding-left: 10px;
    padding-right: 30px;
}

.fa-donate {
    background: #ff5700;
    color: white;
}

.fa-github {
    background: #2D333B;
    color: white;
}

.big-break {
    margin-top: 20px;
}

.fa-robot {
    background: #2D333B;
    color: white;
}

.fa-robot::before {
    position: relative;
    left: -3.25px;
    top: -1px;
}

.fa-devpost {
    background: whitesmoke;
    padding-left: 6px;
    padding-right: 33px;
    padding-top: 14px;
    padding-bottom: 8px;
}

#introduction {
    color: whitesmoke;
    overflow-y: hidden;
    overflow-x: visible;
    width: 100vw;
    position: relative;
    z-index: -1;
}

#languages {
    overflow: hidden;
    color: whitesmoke;
}

.flashing-cursor {
    border-bottom: solid 3px rgba(177, 224, 243, 1);
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    display: inline-block;
    bottom: 5px;
    top: 10px;
    width: 20px;
    animation: animated-cursor 600ms steps(30, end) infinite;
}

@keyframes animated-cursor {
    from {
        border-bottom-color: rgba(177, 224, 243, 1);
    }
    to {
        border-bottom-color: transparent;
    }
}

.waving-hand {
    width: calc(5vw + 10px);
    height: calc(5vw + 10px);
    min-height: 30px;
    min-width: 30px;
    margin-left: 100px;
    animation: turning 1s infinite;
    transition: ease-in-out;
    transform-origin: bottom right;
    background-image: url(../images/waving-hand.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes turning {
    0% {
        transform: rotate(0.0deg)
    }
    20% {
        transform: rotate(8.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    60% {
        transform: rotate(10.0deg)
    }
    100% {
        transform: rotate(0.0deg)
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    padding-left: 0 !important;
    position: absolute !important;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: medium;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.line-left {
    position: absolute;
    left: -10000px;
    z-index: -1;
    margin: 0;
    padding-left: 10000px;
    padding-right: 10000px;
    top: 300px;
}

@media (max-width: 500px) {
    .intro .line-left {
        display: none;
    }
    .line-left {
        display: none;
    }
    #introduction {
        padding: 10px;
        margin-top: 100px;
        max-width: 95vw;
    }
    .intro:before, .intro:after {
        display: none !important;
    }
    .extra-large-font {
        font-size: xx-large;
    }
    .social {
        margin-top: 30px;
        padding-right: 50px;
    }
    .intro {
        height: 180px;
    }
    .social .container {
        width: 86.2vw;
        margin-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
    }
}

@media (min-width: 500px) {
    #languages {
        margin-left: 15%;
        padding-right: 20px;
    }
    #languages .background {
        transform: translate(10px, 10px);
    }
    #languages .background .extra-large-font {
        padding-right: 10px;
    }
    #languages .activity-canvas img {
        margin-left: 10px;
    }
    .close::before {
        content: "(esc) ";
        font-size: 20px;
        position: relative;
        bottom: 8px;
    }
    body {
        overflow-x: hidden;
    }
    #introduction {
        padding: 50px;
        /*display: flex !important;*/
        justify-content: center;
        padding-left: calc(16% + 50px);
    }
    .extra-large-font {
        font-size: 50px;
    }
    .intro {
        height: 250px;
        padding-top: 20px;
    }
    .long-float {
        animation-delay: 0.75s !important;
        animation-name: floating !important;
        animation-duration: 9s !important;
        animation-iteration-count: infinite !important;
        animation-timing-function: ease-in-out !important;
    }
    .short-float {
        animation-name: floating !important;
        animation-duration: 8s !important;
        animation-iteration-count: infinite !important;
        animation-timing-function: ease-in-out !important;
    }
    .social .container {
        top: 20px;
        left: -20px;
        padding-left: 40px;
        padding-top: 30px;
        min-height: 200px;
    }
    .fa-google {
        background: #dd4b39;
        color: white;
        animation: 14s float infinite;
        animation-delay: 5s;
    }
    .fa-linkedin {
        background: #007bb5;
        color: white;
        animation: 14s float infinite;
        animation-delay: 6s;
    }
    .fa-youtube {
        background: #bb0000;
        color: white;
        padding-left: 10px;
        padding-right: 30px;
        animation: 14s float infinite;
        animation-delay: 7s;
    }
    .fa-youtube::before {
        position: relative;
        left: -2px;
    }
    .fa-donate {
        background: #ff5700;
        color: white;
        animation: 14s float infinite;
        animation-delay: 8s;
    }
    .fa-github {
        background: #2D333B;
        color: white;
        animation: 14s float infinite;
        animation-delay: 9s;
    }
    .big-break {
        margin-top: 20px;
    }
    .fa-robot {
        background: #2D333B;
        color: white;
        animation: 14s float infinite;
        animation-delay: 10s;
    }
    .fa-devpost {
        animation: 14s float infinite;
        animation-delay: 11s;
    }
}

.paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -ms-animation-play-state: paused !important;
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
}

.background-canvas-thingy {
    position: fixed;
    height: 100vh !important;
    width: 100vw !important;
    top: 0px;
    left: 0;
    background: linear-gradient(#383849, rgb(231, 41, 63, 0.5));
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 40px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.pop-out-icon {
    text-align: right;
    position: relative;
    top: -30px;
}

.fadeOut {
    animation: fadeOut 0.5s;
    opacity: 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.languages a {
    border-bottom: .05em solid #b4e7f8;
    box-shadow: inset 0 -0.05em 0 #b4e7f8;
    color: inherit;
    transition: background-color .25s cubic-bezier(.33, .66, .66, 1);
    text-decoration: none;
}

.languages a:hover, .languages a:focus, .languages a:active {
    background-color: var(--pop-color);
}

.language-list span {
    display: block;
    text-align: center;
    color: white !important;
    opacity: 0;
}

.activity-canvas {
    margin-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: #22272E;
    margin-bottom: 20px;
}

.activity-canvas .large-font {
    margin-bottom: 10px;
}

#languages .single-language:hover span {
    animation: 0.5s showLangSpan;
    opacity: 100% !important;
}

@keyframes showLangSpan {
    0% {
        transform: translate(0, 35px);
        opacity: 100%;
    }
    90% {
        transform: translate((0, 0));
        opacity: 100%;
    }
}

.language-list {
    display: inline-table;
    padding: 0;
}

#tensorflow-gradient {
    --color-stop: #FF7400;
    --color-bot: #FFA100;
}

#languages .languagelistsvgs {
    fill: white;
    opacity: 86%;
    top: 3px;
    position: relative;
    width: 75px;
    height: 75px;
    margin-bottom: 5px;
}

#languages .github:hover {
    fill: black;
}

#languages .tensorflow:hover {
    fill: url(#tensorflow-gradient) #fff;
}

#languages .ejs:hover {
    background-color: #B4CA65;
}

#languages .activity-canvas {
    padding-top: 10px;
}

#languages .cpp:hover {
    fill: #659BD3;
    opacity: 100%;
}

#languages .node:hover {
    fill: #68A063;
}

#languages .mongodb:hover {
    fill: #47A248;
}

#languages .typescript {
    width: 70px;
    height: 70px;
}

#languages .fa-linux:hover {
    color: black !important;
}

#languages .typescript:hover .typescript-fill {
    fill: #3178c6 !important;
}

#languages .fab {
    opacity: 100%;
}

#languages .python:hover {
    color: #306998;
}

#languages .fa-html5:hover {
    color: #F16524;
}

#languages .fa-js:hover {
    color: #F0DB4F;
}

#languages .fa-git-alt:hover {
    color: #F05030;
}

#languages .language-list .fab {
    font-size: 80px;
}

#languages .language-list .fas {
    font-size: 80px;
}

#languages .ml:hover {
    fill: #412991;
}

#languages .violin:hover {
    fill: #CC582F;
}

#languages .npm:hover {
    fill: #CB3837;
}

#languages .firebase:hover {
    fill: #FFCA28;
}

#languages .opencv:hover {
    fill: #5C3EE8;
}

.single-language {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

#languages .selection {
    margin-left: 50px;
}

#languages {
    position: relative;
}
#languages .security:hover {
    fill: #003A70;
}
#languages .languages .container {
    background-color: slategrey;
    padding: 10px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 0.4s ease-in-out;
}

#languages .languages {
    width: fit-content;
    padding-top: 40px;
    margin-left: 300px;
}

.languages-good {
    background-color: #363636;
}

#languages .background {
    position: relative;
    overflow: hidden;
    background-color: rgba(53, 0, 211, 0.5);
    padding: 20px;
}

.fa-chevron-right {
    transition: all 0.5s ease-in-out
}

#languages .activity-canvas img:hover {
    opacity: 70%;
    cursor: pointer;
}

@media (max-width: 500px) {
    .fa-chevron-right {
        transform: rotate(90deg);
    }
    .show-on-large {
        display: none !important;
    }
    #languages {
        margin-left: 10px;
        max-width: 94vw;
    }
    #languages .background {
        padding: 15px !important;
    }
    #languages .languages {
        margin-left: 0;
    }
    #languages .tooltip {
        padding-top: 20px;
    }
    #languages .activity-canvas img {
        width: 90vw;
    }
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media only screen and (max-width: 700) {
    .modal-content {
        width: 96vw !important;
        margin-left: 0;
    }
    .close {
        position: relative !important;
        left: 85vw;
        font-size: 100px;
    }
    #caption {
        display: block;
        width: 80%;
        position: absolute;
        left: 5vw;
    }
}
.toc {
    color: whitesmoke;
    position: fixed;
    left: 10px;
    top: 38vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.toc .tree-vertical {
    bottom: 99px;
    left: -25px;
    width: 148px;
    transform: rotate(90deg);
    position: absolute;
}

.toc li {
    margin-top: 7px;
}

.toc a {
    border-bottom: .05em solid #b4e7f8;
    box-shadow: inset 0 -0.05em 0 #b4e7f8;
    color: inherit;
    transition: background-color .25s cubic-bezier(.33, .66, .66, 1);
    text-decoration: none;
}

.toc a:hover {
    background-color: #C6E48B;
    color: black;
}

.taskbar {
    width: 40px;
    border-radius: 50px;
    left: 10px;
    bottom: 20vh;
    position: fixed;
    height: 110px;
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

.app-favicon {
    margin-top: 1px;
    padding: 10px;
    border-radius: 2px;
    transition: background-color 0.2s;
}

.app-favicon:hover {
    background-color: rgba(112, 128, 144, 0.3);
}

.app-favicon>img {
    width: 25px;
}

.minimized {
    transform: translate(-100vw, 100vh) !important;
}

.app-open {
    border-left: 2px solid #76B9ED;
}

.app-hot {
    background: rgba(112, 128, 144, 0.5);
}

.maximized {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

.smooth-transition {
    transition: width 0.5s, height 0.5s;
}

.transform-transition {
    transition: transform 0.5s;
}

#terminal-container {
    position: fixed;
    z-index: 5;
    left: 33%;
    top: 33%;
    background-color: whitesmoke;
    padding-left: 0;
    padding-bottom: 0;
    border-radius: 1px;
    box-sizing: border-box;
}

#bing-container {
    position: fixed;
    z-index: 5;
    left: 33%;
    top: 33%;
    background-color: whitesmoke;
    padding-left: 0;
    padding-bottom: 0;
    border-radius: 1px;
    box-sizing: border-box;
    padding-right: 4px;
}

.close-button {
    display: block;
    text-align: right;
    transform: translate(10px, 0);
    padding-left: 10px;
    padding-right: 10px;
}

.maximize:hover {
    background-color: #E5E5E5;
}

.maximize {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 8px;
}

.close-button:hover {
    background-color: #E81123;
    fill: white;
}

#projects .container .project-status .projectprogress .singlepp {
    margin-bottom: 20px;
}

#projects .container .project-status .description {
    margin-left: 20px;
}

#projects .container .project-status .progress-bar {
    display: inline-block;
    margin-left: 30px;
    width: 60%;
    background-color: slategray;
    border-radius: 10px;
    height: 20px;
}

#projects .container .project-status .progress-indicator {
    background: linear-gradient(to right, rgba(53, 0, 211, 1), rgba(53, 0, 211, 0.25));
    display: block;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#projects .container .project-status .description iframe {
    border: none;
    max-height: 75px;
}

#projects .container .project-status .description .links {
    margin-top: 10px;
    left: -10px;
    position: relative;
}

.title {
    color: white;
    font-family: 'Fira Code';
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 30px;
}

#projects .container .extra-large-font {
    margin-left: 50px;
}

#projects .container .medium-font {
    margin-left: 100px;
}

#projects .container .top-projects .projects {
    display: grid;
    grid-gap: 20px 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 30px;
}

#projects .container {
    padding: 20px;
    text-align: left;
    color: whitesmoke;
    max-width: 90vw;
    background-color: #363636;
    margin-left: auto;
    margin-right: auto;
}

#projects .container .top-projects .projects .project {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--pop-color);
    max-width: 300px;
    border-radius: 10px;
}

#projects .container .top-projects .projects .project * {
    margin-left: auto;
    margin-right: auto;
}

#projects .container .top-projects .projects .project img {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projects .container .top-projects .projects .project .project-name {
    color: white;
    font-family: 'Fira Code';
    font-weight: 100;
    margin-bottom: 20px;
}

#projects .container .top-projects .projects .project .project-desc {
    display: block;
    text-align: center;
}

#projects .container .top-projects .projects .project .project-resources hr {
    width: 150px;
}

#projects .container .top-projects .projects .project .project-resources {
    display: block;
    text-align: center;
}

@media (max-width: 500px) {
    .toc {
        transform: translate(-100vw, 0);
        transition: all 0.5s ease-in-out;
        position: fixed;
        left: 10px;
        top: 40vh;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .taskbar {
        display: none;
    }

    #terminal {
        width: 90vw !important;
        height: 20vh !important;
    }

    #terminal-containerheader {
        width: 77vw !important;
    }

    #projects .container {
        max-width: 95vw !important;
    }
}

@media (min-width: 500px) {
    #terminal {
        width: 100% !important;
        height: 100% !important;
    }

    #terminal-container {
        width: 600px;
        height: 300px;
        min-height: 100px !important;
        min-width: 300px;
    }

    #bing-container {
        width: 600px;
        height: 300px;
        min-height: 100px !important;
        min-width: 300px;
    }

    #bing-container iframe {
        width: 100%;
        height: 100%;
        z-index: 6;
        position: relative;
    }

    #projects .container .top-projects .projects .project {
        box-shadow: 10px 10px 15px 0px #22272E;
        transition: box-shadow 0.3s ease-in-out;
    }

    #projects .container .top-projects .projects .project:hover {
        box-shadow: 10px 20px 15px 0px #22272E;
    }

    #projects .container .top-projects {
        padding-bottom: 20px;
    }
}

#projects a {
    border-bottom: .05em solid #b4e7f8;
    box-shadow: inset 0 -0.05em 0 #b4e7f8;
    color: inherit;
    transition: background-color .25s cubic-bezier(.33, .66, .66, 1);
    text-decoration: none;
}

#projects a:hover {
    background-color: #C6E48B;
    color: black;
}
html {
    scroll-behavior: smooth;
 }